<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Healthify</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body style="text-align: center; padding-bottom: 1rem;">
        <div class="content">
            <div class="container">
                <div class="jumbotron centered">
                    <h1 class="display-3">Hello, world!</h1>
                    <p class="lead"><i>Healthify</i> is a simple appointment booking app that helps patients avoid waiting rooms in hospitals.</p>
                    <hr class="my-4">
                    <p class="display-4">Are you a?</p>
                    <div class="row">
                        <div class="col-md" style="margin-bottom: 2rem;">
                            <div class="card" >
                                <img class="card-img-top" src="css/doctor-character-background_1270-84.jpg" alt="Card image cap" height="550">
                                <div class="card-body">
                                  <h2 class="card-title">DOCTOR</h2>
                                  <p class="card-text" style="text-align: left;">Doctors can use the below links to login or register to the website. By creating an account you can manage your patients and notify them in advance if there is a delay in their consultaion.</p>
                                  <a href="/dlogin" class="btn btn-lg btn-primary btn-block">LOGIN</a>
                                  <a href="/dregister" class="btn btn-lg btn-secondary btn-block">REGISTER</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md" style="margin-bottom: 2rem;">
                            <div class="card">
                                <img class="card-img-top" src="css/6491179_preview_1.png" alt="Card image cap" height="550">
                                <div class="card-body">
                                  <h2 class="card-title">PATIENT</h2>
                                  <p class="card-text" style="text-align: left;">Patients can use the below links to login or register to the website. By creating an account you can book your consultations and get to know the status of your consultaion from the doctor.</p>
                                  <a href="/plogin" class="btn btn-lg btn-primary btn-block">LOGIN</a>
                                  <a href="/pregister" class="btn btn-lg btn-secondary btn-block">REGISTER</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        

        
    </body>
    <div class="footer" class="lead">
        <b>Developed by Ramnath K</b>
    </div>
    
        
        

    
</html>